{% extends "header.html" %}
{% block content %}
<div class="div-signup-form">
    <div class="div-signup-form-main">
        <div class="div-signup-form__form-circle">
            <div class="form-circle_s"></div>
            <div class="form-circle_s"></div>
            <div class="form-circle_s"></div>
            <div class="form-circle_s"></div>
            <div class="form-circle_s"></div>
        </div>
        <div class="div-signup-form__login-form">
            <div class="div-signup-form__login-form-title">
                <h3 class="div-signup-form__title">Sign Up</h3>
            </div>
            <div class="div-signup-form__login-form-div-text">
                <p class = "div-signup-form__login-form-text">If you have already sign up on our site, go to <a class = "div-login-form__login-form-div-link" href="{{ url_for('login.login') }}">login page</a>.</p>
            </div>
            <div class="div-signup-form__error-container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="div-signup-form__login-form-error">{{ messages[0] }}</p>
                {% endif %}
                {% endwith %}
            </div>
            <form class = "div-signup-form__login-form-form" action="/login/signup" method="POST">
                <div class="div-signup-form__field">
                    <input class="div-signup-form__field-text" type="email" name="email" placeholder="Email" autofocus="">
                </div>
    
                <div class="div-signup-form__field">
                    <input class="div-signup-form__field-text" type="text" name="name" placeholder="Name" autofocus="">
                </div>
    
                <div class="div-signup-form__field">
                    <input class="div-signup-form__field-text" type="text" name="surname" placeholder="Surname" autofocus="">
                </div>
    
                <div class="div-signup-form__field">
                    <input class="div-signup-form__field-text" type="password" name="password" placeholder="Password">
                </div>
    
                <div class="div-signup-form__field">
                    <input class="div-signup-form__field-text" type="date" name="birthday" placeholder="Birthday">
                </div>
                
                <div class="div-signup-form__field">
                    <label class="div-signup-form__field-text_check">
                        <input type="checkbox" name="remember">
                        Remember me
                    </label>
                </div>
                <button class="div-signup-form__field-buttom">Sign Up</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}