{% extends "header.html" %}

{% block content %}

<div class="div-edit-user">
    <div class="div-edit-user-block">
        <div class="div-edit-user-block__title">
            <h3 class="div-edit-user-block__title-text">Edit your profile</h3>
        </div>
        <form class="div-edit-user-block__form" method="POST" action="{{ url_for('users.update_user') }}">
            {{ form.hidden_tag() }}
            <div class="div-edit-user-block__form-error">
                {% if form.errors %}
                        <p class="div-edit-user-block__form-error-text">
                            {% for field, errors in form.errors.items() %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <p class="div-edit-user-block__form-error-text">{{ messages[0] }}</p>
                        {% endif %}
                        {% endwith %}
        
            </div>
            <div class="div-edit-user-block__form-data">
                <p class="div-edit-user-block__form-data-text">{{ form.name(size=32) }}</p>
                <div class="div-edit-user-block__form-line"></div>
                <p class="div-edit-user-block__form-data-mini-text">name</p>
            </div>
            <div class="div-edit-user-block__form-data">
                <p class="div-edit-user-block__form-data-text">{{ form.surname(size=32) }}</p>
                <div class="div-edit-user-block__form-line"></div>
                <p class="div-edit-user-block__form-data-mini-text">surname</p>
            </div>
            <div class="div-edit-user-block__form-data">
                <p class="div-edit-user-block__form-data-text">{{ form.email(size=32) }}</p>
                <div class="div-edit-user-block__form-line"></div>
                <p class="div-edit-user-block__form-data-mini-text">email</p>
            </div>
            <div class="div-edit-user-block__form-data">
                <p class="div-edit-user-block__form-data-text">{{ form.birthday() }}</p>
                <div class="div-edit-user-block__form-line"></div>
                <p class="div-edit-user-block__form-data-mini-text">birthday</p>
            </div>
            <div class="div-edit-user-block__form-button">
                {{ form.submit(class="div-edit-user-block__form-button-text") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}