{% extends 'header.html' %}

{% block content %}
<div class="div-user">
  <div class="div-user-block">
    <div class="div-user-block__title">
      <h3 class="div-user-block__title-text"> Your personal page </h3>
    </div>
    <div class="div-user-block__div-inform">
      <div class="div-user-block__div-inform-data">
        <p class="div-user-block__div-inform-data-text">{{ current_user.name }}</p>
        <div class="div-user-block__div-inform-line"></div>
        <p class="div-user-block__div-inform-data-mini-text">name</p>
      </div>
      <div class="div-user-block__div-inform-data">
        <p class="div-user-block__div-inform-data-text">{{ current_user.surname }}</p>
        <div class="div-user-block__div-inform-line"></div>
        <p class="div-user-block__div-inform-data-mini-text">surname</p>
      </div>
      <div class="div-user-block__div-inform-data">
        <p class="div-user-block__div-inform-data-text">{{ current_user.email }}</p>
        <div class="div-user-block__div-inform-line"></div>
        <p class="div-user-block__div-inform-data-mini-text">email</p>
      </div>
      <div class="div-user-block__div-inform-data">
        <p class="div-user-block__div-inform-data-text">{{ current_user.birthday }}</p>
        <div class="div-user-block__div-inform-line"></div>
        <p class="div-user-block__div-inform-data-mini-text">birthday</p>
      </div>
      <div class="div-user-block__div-inform-button">
        <a  href="{{ url_for('users.update_user') }}" class = "div-user-block__div-inform-button-a">Edit</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
