{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-diary">
        <div class="main-diary__firs-page">
            <div class="main-diary__firs-page-circle">
                <div class="firs-page-circle"></div>
                <div class="firs-page-circle"></div>
                <div class="firs-page-circle"></div>
                <div class="firs-page-circle"></div>
                <div class="firs-page-circle"></div>
            </div>
            <div class="main-diary__firs-page-img">
                <img src={{ url_for('static', filename='img/diary-couple.png') }} alt="Cute photo">
                
            </div>
        </div>
        <div class="main-diary__second-page">
            <div class="main-diary__second-page-circle">
                <div class="second-page-circle"></div>
                <div class="second-page-circle"></div>
                <div class="second-page-circle"></div>
                <div class="second-page-circle"></div>
                <div class="second-page-circle"></div>
            </div>
            <div class="main-diary__second-pagetext-div">
                <p class="main-diary__second-page-text">This is your personal diary for unforgettable memories and experiences</p>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}